* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 62.5%; */
}

body{
    background-color: #222;
}


.container {
    width: 90%;
    max-width: 400px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    padding: 40px;
    border-radius: 35px;
    margin: 100px auto;
    text-align: center;
    color: white;
}

.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    gap: 10px;
}

.search-box input {
    outline: none;
    border: none;
    width: 100%;
    max-width: 300px;
    
    border-radius: 30px;
    height: 60px;
    /* margin-right: 2em; */
    background-color: #ebffcf;
    color: #555;
    padding: 10px 25px;
    font-size: 1rem;
}

.search-box button {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    padding: 10px;

    flex-shrink: 0;
}

.search-box button img{
    width: 20px;
    height: 20px;
}

.weather > img{
    width: 40%;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

.weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    
}

.col {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    text-align: left;
}

.col img {
    width: 40px;
}

.humidity, .wind {
    font-size: 1.2rem;
}

.weather {
    display: none;
}

.error{
    text-align: left;
    margin-left: 1em;
}
